<h1>Plotlines</h1>

<% if @plotlines.any? %>
  <% @plotlines.each do |plotline| %>
    <div class="panel panel-default plotline">
      <div class="panel-body">
        <h3>
          <%= link_to plotline.name, plotline_path(plotline) %>
        </h3>
      </div>
    </div>
  <% end %>
<% else %>
  <h3>There are no Plotlines saved.</h3>
<% end %>
