@import "bootstrap-sprockets";
@import "bootstrap";

.btn {
  background-color: #ddd;
  border: 1px solid #ccc;
}

.btn:hover {
  background-color: #ccc;
  border-color: #bbb;
}

.user-info {
  text-align: right;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.categories div {
  width: 50%;
}

.featured {
  display: flex;
  justify-content: center;
}

.featured-content {
  width: 40%;
  padding: 1em;
  border: 2px solid gray;
  border-radius: 6px;
}

.episode-sort {
  width: 200px;
  display: inline-block;
}

@media screen and (max-width: 780px) {
  .featured-content {
    width: 80%;
  }
}

@media screen and (max-width: 560px) {
  .categories div {
    width: 90%;
  }

}
